In [6]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=84f93c33742b79226598e2d35f1d6fc488d9a741d7e4a4d6d4da2cb86a37a0d1
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [7]:

from pyspark.sql import SparkSession
from pyspark.sql.types import StringType,IntegerType,StructType,StructField,FloatType
from pyspark.sql.functions import when, col, udf

In [12]:
spark = SparkSession.builder.appName("exp").getOrCreate()
sc = spark.sparkContext

In [11]:
sc = spark.sparkContext

NameError: ignored

In [ ]:
def get_english_name(species):
return species.split('(')[0].rstrip()
def get_start_year(period):
return int(period.split("-")[0][1:])
def get_trend(annual_percentage_change):
if annual_percentage_change <= -3.00:
return 'strong decline'
elif annual_percentage_change > -3.00 and annual_percentage_change <= -0.50:
return 'weak decline'
elif annual_percentage_change > -0.50 and annual_percentage_change < 0.50:
return 'no change'
elif annual_percentage_change >= 0.50 and annual_percentage_change <= 3.00:
return 'weak increase'
elif annual_percentage_change > 3.00:
return 'strong increase'

In [15]:
@udf(returnType=StringType())
def get_english_name(val):
    return val[0:val.index(" (")]

@udf(returnType=IntegerType())
def get_start_year(val):
    return int(val[1:5])

@udf(returnType=StringType())
def get_trend(x):
    if x < -3.00:
        return "strong decline"
    elif -3.00 < x < -0.50:
        return "weak decline"
    elif -0.50 <x<0.50:
        return "no change"
    else:
        return "strong increase"

In [16]:
#Register UDF

get_english_nameUDF = udf(get_english_name,StringType())
get_start_yearUDF = udf(get_start_year,IntegerType())
get_trendUDF = udf(get_trend,StringType())

In [ ]:
spark.udf.register("_nullsafeUDF", lambda str: convertCase(str) if not str is None else "" , StringType())

In [ ]:
df = df.withColumn("Species", get_english_name(df.Species)).withColumn("Period",
get_start_year(df.Period)).withColumn("trend", get_trend(col("Annual percentage
change"))).withColumnRenamed("Species", "species").withColumnRenamed("Category",
"category").withColumnRenamed("Period",
"collected_from_year").withColumnRenamed("Annual percentage change",
"annual_percentage_change")
return df

In [4]:
df.show(10)

AttributeError: ignored

In [8]:
df = [("Greenfinch (Chloris chloris)","Farmland birds","(1970-2014)",-1.13),("Siskin (Carduelis spinus)","Woodland birds","(1995-2014)",2.26),
        ("European shag (Phalacrocorax artistotelis)","Seabirds","(1986-2014)",-2.31),("Mute Swan (Cygnus olor)","Water and wetland birds","(1975-2014)",1.65)
        ,("Collared Dove (Streptopelia decaocto)","other","(1970-2014)",5.2)]

In [9]:
info = [("Greenfinch (Chloris chloris)","Farmland birds","(1970-2014)",-1.13),("Siskin (Carduelis spinus)","Woodland birds","(1995-2014)",2.26),
        ("European shag (Phalacrocorax artistotelis)","Seabirds","(1986-2014)",-2.31),("Mute Swan (Cygnus olor)","Water and wetland birds","(1975-2014)",1.65)
        ,("Collared Dove (Streptopelia decaocto)","other","(1970-2014)",5.2)]
schema1 = StructType(
    [StructField("Species", StringType()),
     StructField("Category", StringType()),
     StructField("Period", StringType()),
     StructField("Annual_percentage_change", FloatType())
     ])

In [13]:
rdd = sc.parallelize(info)
data = spark.createDataFrame(rdd, schema=schema1)

In [17]:
#Decorator

data2 = data.withColumn("English_Name", get_english_nameUDF(col("Species")))\
    .withColumn("start_yearn", get_start_yearUDF(col("Period")))\
        .withColumn("Trend", get_trendUDF(col("Annual_percentage_change")))

In [18]:
data2.show()

PythonException: ignored

In [14]:
data.show()

+--------------------+--------------------+-----------+------------------------+
|             Species|            Category|     Period|Annual_percentage_change|
+--------------------+--------------------+-----------+------------------------+
|Greenfinch (Chlor...|      Farmland birds|(1970-2014)|                   -1.13|
|Siskin (Carduelis...|      Woodland birds|(1995-2014)|                    2.26|
|European shag (Ph...|            Seabirds|(1986-2014)|                   -2.31|
|Mute Swan (Cygnus...|Water and wetland...|(1975-2014)|                    1.65|
|Collared Dove (St...|               other|(1970-2014)|                     5.2|
+--------------------+--------------------+-----------+------------------------+

In [19]:
data.printSchema()

root
 |-- Species: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Annual_percentage_change: float (nullable = true)

In [ ]:
spark.stop()

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType,IntegerType,StructType,StructField,FloatType
from pyspark.sql.functions import when, col, udf
spark = SparkSession.builder.appName("exp").getOrCreate()
sc = spark.sparkContext
@udf(returnType=StringType())
def get_english_name(val):
    return val[0:val.index(" (")]

@udf(returnType=IntegerType())
def get_start_year(val):
    return int(val[1:5])

@udf(returnType=StringType())
def get_trend(x):
    if x < -3.00:
        return "strong decline"
    elif -3.00 < x < -0.50:
        return "weak decline"
    elif -0.50 <x<0.50:
        return "no change"
    else:
        return "strong increase"

info = [("Greenfinch (Chloris chloris)","Farmland birds","(1970-2014)",-1.13),("Siskin (Carduelis spinus)","Woodland birds","(1995-2014)",2.26),
        ("European shag (Phalacrocorax artistotelis)","Seabirds","(1986-2014)",-2.31),("Mute Swan (Cygnus olor)","Water and wetland birds","(1975-2014)",1.65)
        ,("Collared Dove (Streptopelia decaocto)","other","(1970-2014)",5.2)]
schema1 = StructType(
    [StructField("Species", StringType()),
     StructField("Category", StringType()),
     StructField("Period", StringType()),
     StructField("Annual_percentage_change", FloatType())
     ])

rdd = sc.parallelize(info)
data = spark.createDataFrame(rdd, schema=schema1)

data2 = data.withColumn("English_Name", get_english_name(col("Species")))\
    .withColumn("start_yearn", get_start_year(col("Period")))\
        .withColumn("Trend", get_trend(col("Annual_percentage_change")))
data2.show()
spark.stop()

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
def get_english_name(species):
return species.split('(')[0].rstrip()
def get_start_year(period):
return int(period.split("-")[0][1:])
def get_trend(annual_percentage_change):
if annual_percentage_change <= -3.00:
return 'strong decline'
elif annual_percentage_change > -3.00 and annual_percentage_change <= -0.50:
return 'weak decline'
elif annual_percentage_change > -0.50 and annual_percentage_change < 0.50:
return 'no change'
elif annual_percentage_change >= 0.50 and annual_percentage_change <= 3.00:
return 'weak increase'
elif annual_percentage_change > 3.00:
return 'strong increase'

In [ ]:
get_english_name = udf(get_english_name,StringType())
get_start_year = udf(get_start_year,IntegerType())
get_trend = udf(get_trend,StringType())

In [ ]:
df = df.withColumn("Species", get_english_name(df.Species)).withColumn("Period",
get_start_year(df.Period)).withColumn("trend", get_trend(col("Annual percentage
change"))).withColumnRenamed("Species", "species").withColumnRenamed("Category",
"category").withColumnRenamed("Period",
"collected_from_year").withColumnRenamed("Annual percentage change",
"annual_percentage_change")
return df

In [27]:

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

In [ ]:

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]

df = spark.createDataFrame(data=data,schema=columns)

df.show(truncate=False)

def convertCase(str):
    resStr=""
    arr = str.split(" ")
    for x in arr:
       resStr= resStr + x[0:1].upper() + x[1:len(x)] + " "
    return resStr

""" Converting function to UDF """
convertUDF = udf(lambda z: convertCase(z))

df.select(col("Seqno"), \
    convertUDF(col("Name")).alias("Name") ) \
.show(truncate=False)

def upperCase(str):
    return str.upper()

upperCaseUDF = udf(lambda z:upperCase(z),StringType())

df.withColumn("Cureated Name", upperCaseUDF(col("Name"))) \
.show(truncate=False)

""" Using UDF on SQL """
spark.udf.register("convertUDF", convertCase,StringType())
df.createOrReplaceTempView("NAME_TABLE")
spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE") \
     .show(truncate=False)

spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE " + \
          "where Name is not null and convertUDF(Name) like '%John%'") \
     .show(truncate=False)

""" null check """

columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders"),
    ('4',None)]

df2 = spark.createDataFrame(data=data,schema=columns)
df2.show(truncate=False)
df2.createOrReplaceTempView("NAME_TABLE2")

spark.udf.register("_nullsafeUDF", lambda str: convertCase(str) if not str is None else "" , StringType())

spark.sql("select _nullsafeUDF(Name) from NAME_TABLE2") \
     .show(truncate=False)

spark.sql("select Seqno, _nullsafeUDF(Name) as Name from NAME_TABLE2 " + \
          " where Name is not null and _nullsafeUDF(Name) like '%John%'") \
     .show(truncate=False)

In [24]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
def get_english_name(species):
  return species.split('(')[0].rstrip()
def get_start_year(period):
  start_year = period.split('-')[0]
  start_year = start_year[1:]
  syear = int(start_year)
  return syear
def get_trend(annual_percentage_change):
  if annual_percentage_change <= -3.00:
    return 'strong decline'
  elif annual_percentage_change > -3.00 and annual_percentage_change <= -0.50:
    return 'weak decline'
  elif annual_percentage_change > -0.50 and annual_percentage_change < 0.50:
    return 'no change'
  elif annual_percentage_change >= 0.50 and annual_percentage_change <= 3.00:
    return 'weak increase'
  elif annual_percentage_change > 3.00:
    return 'strong increase'

In [35]:
""" Converting function to UDF """
getNamesUDF = udf(lambda z: get_english_name(z))

data.select(col("Category"), \
    getNamesUDF(col("Species")).alias("English_Name") ) \
.show(truncate=False)

+-----------------------+-------------+
|Category               |English_Name |
+-----------------------+-------------+
|Farmland birds         |Greenfinch   |
|Woodland birds         |Siskin       |
|Seabirds               |European shag|
|Water and wetland birds|Mute Swan    |
|other                  |Collared Dove|
+-----------------------+-------------+

In [33]:
startYearUDF = udf(lambda z: get_start_year(z))

data.select(col("Category"), \
    startYearUDF(col("Period")).alias("Start_Year") ) \
.show(truncate=False)

+-----------------------+----------+
|Category               |Start_Year|
+-----------------------+----------+
|Farmland birds         |1970      |
|Woodland birds         |1995      |
|Seabirds               |1986      |
|Water and wetland birds|1975      |
|other                  |1970      |
+-----------------------+----------+

In [34]:
getTrendUDF = udf(lambda z: get_trend(z))

data.select(col("Category"), \
    getTrendUDF(col("Annual_percentage_change")).alias("Trend") ) \
.show(truncate=False)

+-----------------------+---------------+
|Category               |Trend          |
+-----------------------+---------------+
|Farmland birds         |weak decline   |
|Woodland birds         |weak increase  |
|Seabirds               |weak decline   |
|Water and wetland birds|weak increase  |
|other                  |strong increase|
+-----------------------+---------------+

In [37]:
#register UDFS
spark.udf.register("getNamesUDF", get_english_name,StringType())
spark.udf.register("getTrendUDF", get_trend,StringType())
spark.udf.register("startYearUDF", get_start_year,IntegerType())

In [46]:
""" Using UDF on SQL """

data.("NAME_TABLE")
spark.sql("select getNamesUDF(Species) as English_Name, startYearUDF(Period) as Start_Year, getTrendUDF(Annual_percentage_change) as Trend from NAME_TABLE") \
     .show(truncate=False)

+-------------+----------+---------------+
|English_Name |Start_Year|Trend          |
+-------------+----------+---------------+
|Greenfinch   |1970      |weak decline   |
|Siskin       |1995      |weak increase  |
|European shag|1986      |weak decline   |
|Mute Swan    |1975      |weak increase  |
|Collared Dove|1970      |strong increase|
+-------------+----------+---------------+

In [47]:
NAME_TABLE.show()

NameError: ignored

In [ ]:
""" Using UDF on SQL """

data.createOrReplaceTempView("NAME_TABLE")
spark.sql("select getNamesUDF(Species) as English_Name, startYearUDF(Period) as Start_Year, getTrendUDF(Annual_percentage_change) as Trend from NAME_TABLE") \
     .show(truncate=False)

AttributeError: ignored

In [ ]:

df.write.parquet('data/output/chargepoints-2017-analysis')

In [ ]:
""" null check """

columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders"),
    ('4',None)]

df2 = spark.createDataFrame(data=data,schema=columns)
df2.show(truncate=False)
df2.createOrReplaceTempView("NAME_TABLE2")

spark.udf.register("_nullsafeUDF", lambda str: convertCase(str) if not str is None else "" , StringType())

spark.sql("select _nullsafeUDF(Name) from NAME_TABLE2") \
     .show(truncate=False)

spark.sql("select Seqno, _nullsafeUDF(Name) as Name from NAME_TABLE2 " + \
          " where Name is not null and _nullsafeUDF(Name) like '%John%'") \
     .show(truncate=False)

In [36]:

""" Using UDF on SQL """
spark.udf.register("getNamesUDF", get_english_name,StringType())
data.createOrReplaceTempView("NAME_TABLE")
spark.sql("select Category, getNamesUDF(Species) as English_Name from NAME_TABLE") \
     .show(truncate=False)

+-----------------------+-------------+
|Category               |English_Name |
+-----------------------+-------------+
|Farmland birds         |Greenfinch   |
|Woodland birds         |Siskin       |
|Seabirds               |European shag|
|Water and wetland birds|Mute Swan    |
|other                  |Collared Dove|
+-----------------------+-------------+

In [ ]:

""" Using UDF on SQL """
spark.udf.register("getNamesUDF", get_english_name,StringType())
data.createOrReplaceTempView("NAME_TABLE")
spark.sql("select Category, getNamesUDF(Species) as English_Name from NAME_TABLE") \
     .show(truncate=False)

In [ ]:
spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE " + \
          "where Name is not null and convertUDF(Name) like '%John%'") \
     .show(truncate=False)

In [ ]:
def upperCase(str):
    return str.upper()

upperCaseUDF = udf(lambda z:upperCase(z),StringType())

df.withColumn("Cureated Name", upperCaseUDF(col("Name"))) \
.show(truncate=False)

In [ ]:
get_english_name = udf(get_english_name,StringType())
get_start_year = udf(get_start_year,IntegerType())
get_trend = udf(get_trend,StringType())

In [25]:
data.show()

+--------------------+--------------------+-----------+------------------------+
|             Species|            Category|     Period|Annual_percentage_change|
+--------------------+--------------------+-----------+------------------------+
|Greenfinch (Chlor...|      Farmland birds|(1970-2014)|                   -1.13|
|Siskin (Carduelis...|      Woodland birds|(1995-2014)|                    2.26|
|European shag (Ph...|            Seabirds|(1986-2014)|                   -2.31|
|Mute Swan (Cygnus...|Water and wetland...|(1975-2014)|                    1.65|
|Collared Dove (St...|               other|(1970-2014)|                     5.2|
+--------------------+--------------------+-----------+------------------------+

In [ ]:
#3. get_trend - this function should get the Annual percentage change column value and return the change trend category based on the following rules:
#a. Annual percentage change less than -3.00 – return 'strong decline'
#b. Annual percentage change between -3.00 and -0.50 (inclusive) – return 'weak decline'
#c. Annual percentage change between -0.50 and 0.50 (exclusive) – return 'no change'
#d. Annual percentage change between 0.50 and 3.00 (inclusive) – return 'weak increase'
#e. Annual percentage change more than 3.00 – return 'strong increase'.
#

----------------------------------------------+-----------------------+-----------+------------------------+
|Species                                       |Category               |Period     |Annual percentage change|
+----------------------------------------------+-----------------------+-----------+------------------------+
|Greenfinch (Chloris chloris)                  |Farmland birds         |(1970-2014)|-1.13                   |
|Siskin (Carduelis spinus)                     |Woodland birds         |(1995-2014)|2.26                    |
|European shag (Phalacrocorax artistotelis)    |Seabirds               |(1986-2014)|-2.31                   |
|Mute Swan (Cygnus olor)                       |Water and wetland birds|(1975-2014)|1.65                    |
|Collared Dove (Streptopelia decaocto)         |Other                  |(1970-2014)|5.2                     |
+----------------------------------------------+-----------------------+-----------+------------------------+

In [ ]:
from os.path import abspath
from pyspark.sql import SparkSession

# warehouse_location points to the default location for managed databases and tables
warehouse_location = abspath('spark-warehouse')

# Create spark session with hive enabled
spark = SparkSession \
    .builder \
    .appName("SparkByExamples.com") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()

columns = ["id", "name","age","gender"]

# Create DataFrame
data = [(1, "James",30,"M"), (2, "Ann",40,"F"),
    (3, "Jeff",41,"M"),(4, "Jennifer",20,"F")]
sampleDF = spark.sparkContext.parallelize(data).toDF(columns)

# Create database
spark.sql("CREATE DATABASE IF NOT EXISTS emp")

# Create Hive Internal table
sampleDF.write.mode('overwrite') \
          .saveAsTable("emp.employee")

# Spark read Hive table
df = spark.read.table("emp.employee")
df.show()