<a href="https://colab.research.google.com/github/Vthomps000/datasets/blob/main/working_udf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=119d47be272f1935069f73f967f00c3739aefd4e3eb80033acbe106417d2ab18
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
#create SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
# Easily reference these as F.my_function() and T.my_type() below
from pyspark.sql import functions as F, types as T

In [ ]:
!wget https://raw.githubusercontent.com/Vthomps000/datasets/main/HRDataset_v14.csv

--2023-06-30 16:43:01--  https://raw.githubusercontent.com/Vthomps000/datasets/main/HRDataset_v14.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 76857 (75K) [text/plain]
Saving to: ‘HRDataset_v14.csv’

HRDataset_v14.csv   100%[===================>]  75.06K  --.-KB/s    in 0.002s

2023-06-30 16:43:01 (30.9 MB/s) - ‘HRDataset_v14.csv’ saved [76857/76857]

In [ ]:
#read data from csv

employee_data = spark.read.csv('HRDataset_v14.csv', sep = ',', header=True)

Analyze Data

In [ ]:
#view data
employee_data.show(10)

+--------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------------------+-----+-----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+-----------------+--------------------+--------------------+---------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
|       Employee_Name|EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|Salary|Termd|PositionID|            Position|State|  Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|            RaceDesc|DateofHire|DateofTermination|       TermReason|    EmploymentStatus|          Department|    ManagerName|ManagerID| RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|
+--------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------------------+-----+-----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+-----------------+--------------------+--------------------+---------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
| Adinolfi, Wilson  K|10026|        0|              0|       1|          1|     5|          4|                     0| 62506|    0|        19|Production Techni...|   MA|01960|07/10/83| M |     Single| US Citizen|            No|               White|  7/5/2011|             null|N/A-StillEmployed|              Active|   Production       | Michael Albert|       22|          LinkedIn|         Exceeds|            4.60|              5|                   0|                 1/17/2019|             0|       1|
|Ait Sidi, Karthik...|10084|        1|              1|       1|          5|     3|          3|                     0|104437|    1|        27|             Sr. DBA|   MA|02148|05/05/75| M |    Married| US Citizen|            No|               White| 3/30/2015|        6/16/2016|    career change|Voluntarily Termi...|               IT/IS|     Simon Roup|        4|            Indeed|     Fully Meets|            4.96|              3|                   6|                 2/24/2016|             0|      17|
|   Akinkuolie, Sarah|10196|        1|              1|       0|          5|     5|          3|                     0| 64955|    1|        20|Production Techni...|   MA|01810|09/19/88|  F|    Married| US Citizen|            No|               White|  7/5/2011|        9/24/2012|            hours|Voluntarily Termi...|   Production       | Kissy Sullivan|       20|          LinkedIn|     Fully Meets|            3.02|              3|                   0|                 5/15/2012|             0|       3|
|        Alagbe,Trina|10088|        1|              1|       0|          1|     5|          3|                     0| 64991|    0|        19|Production Techni...|   MA|01886|09/27/88|  F|    Married| US Citizen|            No|               White|  1/7/2008|             null|N/A-StillEmployed|              Active|   Production       |   Elijiah Gray|       16|            Indeed|     Fully Meets|            4.84|              5|                   0|                  1/3/2019|             0|      15|
|    Anderson, Carol |10069|        0|              2|       0|          5|     5|          3|                     0| 50825|    1|        19|Production Techni...|   MA|02169|09/08/89|  F|   Divorced| US Citizen|            No|               White| 7/11/2011|         9/6/2016| return to school|Voluntarily Termi...|   Production       | Webster Butler|       39|     Google Search|     Fully Meets|            5.00|              4|                   0|                  2/1/2016|             0|       2|
|   Anderson, Linda  |10002|        0|              0|       0|          1|     5|          4|                     0| 57568|    0|        19|Production Techni...|   MA|01844|05/22/77|  F|     Single| US Citizen|            No|               White|  1/9/2012|             null|N/A-StillEmployed|              Active|   Production       |       Amy Dunn|       11|          LinkedIn|         Exceeds|            5.00|              5|                   0|                  1/7/2019|             0|      15|
|     Andreola, Colby|10194|        0|              0|       0|          1|     4|          3|                     0| 95660|    0|        24|   Software Engineer|   MA|02110|05/24/79|  F|     Single| US Citizen|            No|               White|11/10/2014|             null|N/A-StillEmployed|              Active|Software Engineering|Alex Sweetwater|       10|          LinkedIn|     Fully Meets|            3.04|              3|                   4|                  1/2/2019|             0|      19|
|         Athwal, Sam|10062|        0|              4|       1|          1|     5|          3|                     0| 59365|    0|        19|Production Techni...|   MA|02199|02/18/83| M |    Widowed| US Citizen|            No|               White| 9/30/2013|             null|N/A-StillEmployed|              Active|   Production       |  Ketsia Liebig|       19| Employee Referral|     Fully Meets|            5.00|              4|                   0|                 2/25/2019|             0|      19|
|    Bachiochi, Linda|10114|        0|              0|       0|          3|     5|          3|                     1| 47837|    0|        19|Production Techni...|   MA|01902|02/11/70|  F|     Single| US Citizen|            No|Black or African ...|  7/6/2009|             null|N/A-StillEmployed|              Active|   Production       | Brannon Miller|       12|Diversity Job Fair|     Fully Meets|            4.46|              3|                   0|                 1/25/2019|             0|       4|
|  Bacong, Alejandro |10250|        0|              2|       1|          1|     3|          3|                     0| 50178|    0|        14|          IT Support|   MA|01886|01/07/88| M |   Divorced| US Citizen|            No|               White|  1/5/2015|             null|N/A-StillEmployed|              Active|               IT/IS|   Peter Monroe|        7|            Indeed|     Fully Meets|            5.00|              5|                   6|                 2/18/2019|             0|      16|
+--------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------------------+-----+-----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+-----------------+--------------------+--------------------+---------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
only showing top 10 rows

In [ ]:
#record count
employee_data.count()

311

In [ ]:
#column length
len(employee_data.columns)

36

In [ ]:
# get schema
employee_salary.printSchema()

root
 |-- Employee_Name: string (nullable = true)
 |-- EmpID: string (nullable = true)
 |-- ManagerID: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- date_of_hire: string (nullable = true)
 |-- gender: string (nullable = true)

In [ ]:
employee_data.dtypes

[('Employee_Name', 'string'),
 ('EmpID', 'string'),
 ('MarriedID', 'string'),
 ('MaritalStatusID', 'string'),
 ('GenderID', 'string'),
 ('EmpStatusID', 'string'),
 ('DeptID', 'string'),
 ('PerfScoreID', 'string'),
 ('FromDiversityJobFairID', 'string'),
 ('Salary', 'string'),
 ('Termd', 'string'),
 ('PositionID', 'string'),
 ('Position', 'string'),
 ('State', 'string'),
 ('Zip', 'string'),
 ('DOB', 'string'),
 ('Sex', 'string'),
 ('MaritalDesc', 'string'),
 ('CitizenDesc', 'string'),
 ('HispanicLatino', 'string'),
 ('RaceDesc', 'string'),
 ('DateofHire', 'string'),
 ('DateofTermination', 'string'),
 ('TermReason', 'string'),
 ('EmploymentStatus', 'string'),
 ('Department', 'string'),
 ('ManagerName', 'string'),
 ('ManagerID', 'string'),
 ('RecruitmentSource', 'string'),
 ('PerformanceScore', 'string'),
 ('EngagementSurvey', 'string'),
 ('EmpSatisfaction', 'string'),
 ('SpecialProjectsCount', 'string'),
 ('LastPerformanceReview_Date', 'string'),
 ('DaysLateLast30', 'string'),
 ('Absences', 'string')]

In [ ]:
# Get columns
df.columns

# Get columns + column types
df.dtypes

# Get schema
df.schema

# Get row count
df.count()

# Get column count
len(df.columns)

In [ ]:
# Pick which columns to keep, optionally rename some
employee_salary = employee_data.select(
    'Employee_Name',
    'EmpID',
    'ManagerID',
    #F.col('ManagerName').alias('Manager'),
    'Salary',
    #'DeptID',
    'Department',
    F.col('DateofHire').alias('date_of_hire'),
    F.col('Sex').alias('gender')
)

In [ ]:
employee_salary.show(10)

NameError: ignored

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [ ]:
def udf_name_converter():
  @udf(returnType=StringType())
  def name_converter(Employee_Name):
    last_name, first_name = Employee_Name.split(", ")
    return first_name + " " + last_name
  return name_converter

In [ ]:
udf_converter = udf_name_converter()

In [ ]:
df = employee_salary.withColumn("Employee_Name", udf_converter("Employee_Name"))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:
def name_converter(Employee_Name):
  last_name, first_name = Employee_Name.split(", ")

  return first_name + " " + last_name

name_converter_udf = udf(name_converter, T.StringType())

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import MapType, StringType

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, MapType

def reverse_name(name):
    last_name, first_name = name.split(", ")
    return f"{first_name} {last_name}"

reverse_name_dict_udf = udf(lambda d: {k: reverse_name(v) for k, v in eval(d).items()}, StringType())

In [ ]:
df = employee_salary.withColumn('Employee_Name', reverse_name_dict_udf(col('Employee_Name')))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:
##THE WORKING FUNCTION....YESSSIRRRR

def reverse_name(name):
    split_name = name.split(", ")
    if len(split_name) == 2:
        last_name, first_name = split_name
        return f"{first_name} {last_name}"
    elif len(split_name) == 3:
        last_name, first_name, mid_initial = split_name
        return f"{first_name} {last_name}"
    else:
        return None

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

reverse_name_udf = udf(lambda name: " ".join(reversed(name.split(", "))), StringType())

In [ ]:
df = employee_salary.withColumn("Employee_Name", reverse_name_udf(col("Employee_Name")))

In [ ]:
df.show(10)

+--------------------+-----+---------+------+--------------------+------------+------+
|       Employee_Name|EmpID|ManagerID|Salary|          Department|date_of_hire|gender|
+--------------------+-----+---------+------+--------------------+------------+------+
|  Wilson  K Adinolfi|10026|       22| 62506|   Production       |    7/5/2011|    M |
|Karthikeyan    Ai...|10084|        4|104437|               IT/IS|   3/30/2015|    M |
|    Sarah Akinkuolie|10196|       20| 64955|   Production       |    7/5/2011|     F|
|        Alagbe,Trina|10088|       16| 64991|   Production       |    1/7/2008|     F|
|     Carol  Anderson|10069|       39| 50825|   Production       |   7/11/2011|     F|
|    Linda   Anderson|10002|       11| 57568|   Production       |    1/9/2012|     F|
|      Colby Andreola|10194|       10| 95660|Software Engineering|  11/10/2014|     F|
|          Sam Athwal|10062|       19| 59365|   Production       |   9/30/2013|    M |
|     Linda Bachiochi|10114|       12| 47837|   Production       |    7/6/2009|     F|
|   Alejandro  Bacong|10250|        7| 50178|               IT/IS|    1/5/2015|    M |
+--------------------+-----+---------+------+--------------------+------------+------+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def reverse_name(name):
    split_name = name.split(", ")
    if len(split_name) == 2:
        last_name, first_name = split_name
        return f"{first_name} {last_name}"
    elif len(split_name) == 3:
        last_name, first_name, mid_initial = split_name
        return f"{first_name} {last_name}"
    else:
        return None


from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

reverse_name_udf = udf(lambda name: " ".join(reversed(name.split(", "))), StringType())


from pyspark.sql.functions import col

df = df.withColumn("name_col", reverse_name_udf(col("name_col")))




reverse_name_udf = udf(reverse_name, StringType())

AnalysisException: ignored

In [ ]:
def reverse_name_dict(name_dict):
    modified_dict = {}
    for key, value in name_dict.items():
        split_name = value.split(", ")
        modified_dict[key] = split_name[1] + " " + split_name[0]
    return modified_dict

In [ ]:
reverse_name_dict_udf = udf(reverse_name_dict, MapType(StringType(), StringType()))

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df = employee_salary.withColumn('employee', reverse_name_dict_udf(col('Employee_Name')))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:
def reverse_name_dict(name_dict):
    new_names = []
    for name in names:
      if name is not None:
        # Split the name into its individual parts
        last_name, first_name = name.split(", ")

        # Combine the first name, middle initial, and last name into the new format
        new_name = f"{first_name} {last_name}"

        # Add the new name to the list of rearranged names
        new_names.append(new_name)
        return new_names
      else:
        return None

In [ ]:
	    split_sales = [float(x) for x in sales.split(",")]
	    total_sales = sum(split_sales)

In [ ]:
df = employee_salary.withColumn('employee', convertUDF(col('Employee_Name')))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:

use items() to resolve, like:

d = {"foo": "bar"}

for key, value in items(d):
  print(key, value)

SyntaxError: ignored

In [ ]:
  if name is not None:
    last_name, first_name = name.split(", ")
    return f"{first_name} {last_name}"
  else:
    return None

In [ ]:
df = employee_salary.withColumn("Employee_Name", name_converter_udf("Employee_Name"))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:
    def switch_name(name):
      last_name, first_name = name.split(", ")
      return f" {first_name} {last_name}"

In [ ]:
@switch_name_udf(StringType())
def switch_name(name):
  last_name, first_name = name.split(", ")
  return f" {first_name} {last_name}"

NameError: ignored

In [ ]:
def switch_name_udf(return_type):
  def decorator(func):
    @udf(returnType=return_type)
    def wrapper(name):
      last_name, first_name = name.split(", ")
      return f" {first_name} {last_name}"
    return wrapper
  return decorator

In [ ]:

@switch_name_udf(StringType)
def switch_name(name):
  return name

TypeError: ignored

In [ ]:
@udf(StringType)
def switch_name(Employee_Name):
  last_name, first_name = Employee_Name.split(", ")
  return f"{first_name} {last_name}"

TypeError: ignored

In [ ]:
def switch_name(str):
  last_name, first_name = str.split(", ")
  return f"{first_name} {last_name}"

In [ ]:
def rearrange_names_udf(names):
    new_names = []
    for name in names:
        # Split the name into its individual parts
        last_name, first_name = name.split(", ")

        # Combine the first name, middle initial, and last name into the new format
        new_name = f"{first_name} {last_name}"

        # Add the new name to the list of rearranged names
        new_names.append(new_name)

    return new_names

In [ ]:

from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType
from pyspark.sql.types import StructType

# Converting function to UDF
convertUDF = udf(lambda a: rearrange_names_udf(a))

In [ ]:

employee_salary.select(col("EmpID"), \
    convertUDF(col("Employee_Name")).alias("Name") ) \
   .show(10)

PythonException: ignored

In [ ]:
employee_salary.select("EmpID", "Employee_Name", convertUDF("Employee_Name").alias("Name")).show(10)

PythonException: ignored

In [ ]:
rearrange_names = udf(rearrange_names_udf, StringType())

In [ ]:
df = employee_salary.withColumn("Employee_Name", rearrange_names("Employee_Name"))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:
df2 = spark.createDataFrame(employee_salary, ["Employee_Name"])

TypeError: ignored

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def rearrange_names_udf(name):
    last_name, first_name = name.split(', ')
    new_name = f"{first_name} {last_name}"
    return new_name

rearrange_names = udf(rearrange_names_udf, StringType())

In [ ]:
from pyspark.sql.functions import col

In [ ]:
# Apply the UDF to the "name" column to create a new column of names in the format "first_name last_name"
df = employee_salary.withColumn("employee", rearrange_names(col("Employee_Name")))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:

def switch_name_column(df,col_name):
  def switch_name(Employee_Name):
    last_name, first_name = Employee_Name.split(", ")
    return f"{first_name} {last_name}"

In [ ]:
df = switch_name_column(employee_salary, 'Employee_Name')

In [ ]:
df.show(10)

AttributeError: ignored

In [ ]:
switch_name_udf = udf(switch_name, StringType())

TypeError: ignored

In [ ]:
switch_name(Employee_Name)

NameError: ignored

In [ ]:
def rearrange_names_dict(names):
    # Create a dictionary mapping the original names to the rearranged names
    name_dict = {}
    for name in names:
        last_name, first_name = name.split(', ')
        new_name = f"{first_name} {last_name}"
        name_dict[name] = new_name

    return name_dict

In [ ]:
rearrange_names_udf = udf(rearrange_names_dict))

In [ ]:
df = employee_salary.withColumn("EmpID", rearrange_names_udf(col("Employee_Name")))

In [ ]:
df.show(10)

PythonException: ignored

In [ ]:
def reverse_name(name):
  if name is not None:
    last_name, first_name = name.split(", ")
    return f"{first_name} {last_name}"
  else:
    return None

In [ ]:
def convertCase(str):
    resStr=""
    arr = [str.split(" ")]
    for x in arr:
       resStr= resStr + x[0:1].upper() + x[1:len(x)] + " "
    return resStr

""" Converting function to UDF """
convertUDF = udf(lambda z: convertCase(z))

employee_salary.select(col("EmpID"), \
    upperCaseUDF(col("Employee_Name")).alias("Name") ) \
.show(10)


@udf(returnType=StringType())
def upperCase(str):
    return str.upper()

upperCaseUDF = udf(lambda z:upperCase(z),StringType())

employee_salary.withColumn("Cureated Name", upperCase(col("Employee_Name"))) \
.show(10)

""" Using UDF on SQL """
spark.udf.register("convertUDF", convertCase,StringType())
df.createOrReplaceTempView("NAME_TABLE")
spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE") \
     .show(truncate=False)

spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE " + \
          "where Name is not null and convertUDF(Name) like '%John%'") \
     .show(truncate=False)

""" null check """

columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders"),
    ('4',None)]

df2 = spark.createDataFrame(data=data,schema=columns)
df2.show(truncate=False)
df2.createOrReplaceTempView("NAME_TABLE2")

spark.udf.register("_nullsafeUDF", lambda str: convertCase(str) if not str is None else "" , StringType())

spark.sql("select _nullsafeUDF(Name) from NAME_TABLE2") \
     .show(truncate=False)

spark.sql("select Seqno, _nullsafeUDF(Name) as Name from NAME_TABLE2 " + \
          " where Name is not null and _nullsafeUDF(Name) like '%John%'") \
     .show(truncate=False)

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pyspark/serializers.py", line 459, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 632, in dump
    return Pickler.dump(self, obj)
TypeError: cannot pickle '_thread.RLock' object

PicklingError: ignored

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [ ]:
def reverse_name(name):
  if name is not None:
    last_name, first_name = name.split(", ")
    return f"{first_name} {last_name}"
  else:
    return None